{% extends "base.html"%}
{% load static %}

{% block Title%}
    {{heading}}
{% endblock Title%}

{% block pageTitle %}
    <section id="jumbo-index">
        <div class="jumbotron jumbotron-fluid">
            <div class="container"> 
                <div class="container-fluid" style="margin-top: 30px;">
                    <div class="container text-white" style="height: 660px;">
                        <h1>SCHEDULE DETAIL</h1>
                        <table class="table">
                            <thead class="table  text-white text-center">
                                <th scope="col">Mata Kuliah</th>
                                <th scope="col">Deskripsi</th>
                                <th scope="col">Dosen</th>
                                <th scope="col">Ruang Kelas</th>
                                <th scope="col">Jumlah SKS</th>
                                <th scope="col">Semester</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </thead>
                            <tbody>
                                {% for a in matkul %}
                                <tr class="table text-white text-center">
                                    <td> {{a.Mata_Kuliah}} </td>
                                    <td> {{a.Deskripsi}} </td>
                                    <td> {{a.Dosen}} </td>
                                    <td> {{a.Ruang_Kelas}} </td>
                                    <td> {{a.Jumlah_SKS}} </td>
                                    <td> {{a.semester}} </td>
                                    <td><a class="btn btn-danger" href="{% url 'blog:delete' a.id %}">Delete</a></td>
                                    <td><a class="btn btn-warning" href="{% url 'blog:update' a.id %}">Update</a></td>
                                </tr> 
                                {% endfor %}
                            </tbody>
                        </table>
                        <a class="btn btn-primary" href="{% url 'blog:create'%}">Add</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="social">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-12 social-menu">
            <ul>
                <li><a href="https://twitter.com/nadifaahsn"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.instagram.com/nadifahsn/?hl=en"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://www.linkedin.com/in/hasna-nadifah-64635b1aa/"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="https://gitlab.com/nadifaahsn/"><i class="fa fa-github"></i></a></li>
            </ul>
            </div>
        </div>
        </div>
    </section>
  <style>
    #jumbo-index .jumbotron{
        background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("/static/img/background.png");
        background-size: cover;
        background-position: center;
        height: 650px;
        width: 100%;
    }
    #social .social-menu ul{
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 0;
        margin: 0;
        transform: translate(-50%, -50%);
        display: flex;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    #social .social-menu ul li{
        list-style: none;
        margin: 0 15px;
    }
    #social .social-menu ul li .fa{
        font-size: 30px;
        line-height: 60px;
        transition: .6s;
        color: #000;
    }
    #social .social-menu ul li .fa:hover{
        color: #fff;
    }
    #social .social-menu ul li a{
        position: relative;
        display: block;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: #fff;
        text-align: center;
        transition: .6s;
        box-shadow: 0 5px 4 px rgba(0,0,0,.5);
    }
    #social .social-menu ul li a:hover{
        transform: translate(0, -10px);
    }
    #social .social-menu ul li:nth-child(1) a:hover{
        background-color: #0077B5;
    }
    #social .social-menu ul li:nth-child(2) a:hover{
        background-color: #e4405f;
    }
    #social .social-menu ul li:nth-child(3) a:hover{
        background-color: #0084ff;
    }
    #social .social-menu ul li:nth-child(4) a:hover{
        background-color: #ff5700;
    }
  </style>
{% endblock pageTitle%}


