{% extends "base.html"%}
{% load static%}

{% block Title%}
    {{heading}}
{% endblock Title%}

{% block pageTitle %}
<section id="jumbo-index">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4 text-white " style="margin-top: 160px;">W E L C O M E<br>T O  &nbsp;S C H E D U L E  &nbsp;M A K E R</h1>
        <a href="/blog/create">TRY TO MAKE!</a>
      </div>
    </div>
</section>
<section id="social">
  <div class="container-fluid">
      <div class="row text-center">
        <div class="col-12 social-menu">
          <ul>
            <li><a href="https://twitter.com/nadifaahsn"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.instagram.com/nadifahsn/?hl=en"><i class="fa fa-instagram"></i></a></li>
            <li><a href="https://www.linkedin.com/in/hasna-nadifah-64635b1aa/"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="https://gitlab.com/nadifaahsn/"><i class="fa fa-github"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
</section>
  <style>
    #jumbo-index .jumbotron{
        background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("/static/img/background.png");
        background-size: cover;
        background-position: center;
        height: 650px;
        width: 100%;
    }
    #jumbo-index a{
        display: inline-block;
        margin-top: 20px;
        padding: 8px 20px;
        background: #fff;
        color: #111;
        border-radius: 40px;
        font-weight: 500;
        letter-spacing: 1px;
        text-decoration: none;
        text-transform: uppercase;
    }
    #social .social-menu ul{
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 0;
        margin: 0;
        transform: translate(-50%, -50%);
        display: flex;
        margin-top: 70px;
        margin-bottom: 50px;
    }
    #social .social-menu ul li{
        list-style: none;
        margin: 0 15px;
    }
    #social .social-menu ul li .fa{
        font-size: 30px;
        line-height: 60px;
        transition: .6s;
        color: #000;
    }
    #social .social-menu ul li .fa:hover{
        color: #fff;
    }
    #social .social-menu ul li a{
        position: relative;
        display: block;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: #fff;
        text-align: center;
        transition: .6s;
        box-shadow: 0 5px 4 px rgba(0,0,0,.5);
    }
    #social .social-menu ul li a:hover{
        transform: translate(0, -10px);
    }
    #social .social-menu ul li:nth-child(1) a:hover{
        background-color: #0077B5;
    }
    #social .social-menu ul li:nth-child(2) a:hover{
        background-color: #e4405f;
    }
    #social .social-menu ul li:nth-child(3) a:hover{
        background-color: #0084ff;
    }
    #social .social-menu ul li:nth-child(4) a:hover{
        background-color: #ff5700;
    }
  </style>
{% endblock pageTitle%}

{% block contents%}

{% endblock contents%}
















<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{heading}}t</title>
</head>
<body>
    <h1>{{heading}}</h1>

    <ul>
        <li><a href="{% url 'index' %}"></a></li>
        <li><a href="/contact">contact</a></li>
    </ul>
    <form methos= 'POST' action="">
        {% csrf_token %}
        <table>
            {{data_form.as_table}}
        </table>
        <br>
        <button type="Submit">Kirim</button>
    </form>
</body>
</html> -->